{{>layout/header}}
<h1>멤버 정보 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="member-name">멤버 이름</label>
                <input type="text" class="form-control" id="member-name" placeholder="멤버 이름을 입력하세요">
            </div>
            <div class="form-group">
                <label for="member-age">멤버 나이</label>
                <input type = "number" class="form-control" id="member-age" placeholder="멤버 나이를 입력하세요."></input>
            </div>
            <div class="form-group">
                <label for="member-address">멤버 주소</label>
                <input type="text" class="form-control" id="member-address" placeholder="멤버 주소를 입력하세요">
            </div>
            <a href="/" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-save-member">등록</button>
        </form>
    </div>
</div>
{{>layout/footer}}
